.wideTooltip {
  max-width: 400px;
}

.headerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  width: 100%;
  height: 50px;
  -webkit-app-region: drag;
}

.headerButtons :global(.ant-divider-horizontal) {
  margin: 0px;
}

.headerButtons .ant-btn {
  height: auto !important;
  width: auto !important;
}

.headerButtons :global(.ant-space-item) {
  -webkit-app-region: no-drag;
}
