.wideTooltip {
  max-width: 400px;
}

.headerButtons {
  display: flex;
  flex-direction: column;
  align-items: safe center;
  padding: 8px 0 0 0;
  gap: 8px;
  width: 100%;
  min-height: 50px;
}

.headerButtonsSpace {
  justify-content: center;
}

.headerButtons :global(.ant-divider-horizontal) {
  margin: 0px;
}

.headerButtons .ant-btn {
  height: auto !important;
  width: auto !important;
}
