.savedSessions,
.savedSessions :global(.ant-table),
.savedSessions :global(.ant-table-wrapper) {
  height: 100%;
}

.savedSessions :global(.ant-card-body) {
  height: 100%;
  padding: 0;
}

.savedSessions :global(.ant-table) {
  overflow-y: auto;
}

.savedSessions :global(.ant-table-body .ant-table-cell) {
  padding: 8px 16px;
}

.savedSessions :global(.ant-table::-webkit-scrollbar) {
  width: 0px;
}
