.monoFont {
  font-family: monospace;
}

.inspectorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inspectorSplitter {
  width: 100%;
  flex: 1;
  min-height: 0;
  padding: 0px 1em 1em 1em;
}

.inspectorTabsContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.inspectorTabsContainer :global(.ant-tabs) {
  height: 100%;
}

.inspectorTabsContainer :global(.ant-tabs-body) {
  height: 100%;
}

.inspectorTabsContainer :global(.ant-tabs-content) {
  height: 100%;
}

/*
allow X-axis scrolling for the entire recorder tab contents,
since the tab card has a set minwidth due to extra items in the header
*/
.inspectorTabsContainer :global(.ant-tabs-content[id*='recorder']) {
  overflow-x: scroll;
}

.inspectorTabsContainer :global(.ant-card) {
  height: 100%;
}

.frameworkDropdown {
  width: 180px;
}

.spaceContainer {
  display: flex;
  word-break: break-word;
}

.clientCode {
  margin-bottom: 0;
}
