.commandsContainer {
  height: 100%;
}

.commandsContainer :global(.ant-select) {
  width: 100%;
}

.commandsContainer :global(.ant-btn) {
  width: 100%;
}

.btnContainer {
  padding: 8px;
  height: 100%;
}

.methodMapTab {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.methodMapGrid {
  overflow-y: auto;
}

.argContainer {
  padding: 4px 4px 0 0;
}

.commandResultModal :global(.ant-modal-footer) {
  text-align: unset;
}

.commandResultModalOkButtonCol {
  display: flex;
  justify-content: flex-end;
}

.commandResultRawPreBlock {
  margin: 0;
}

.commandResultTable :global(.ant-table-tbody > tr > td) {
  vertical-align: top;
}

.commandResultTableCell {
  margin: 0;
  white-space: pre-wrap;
  cursor: pointer;
}

.methodBtn {
  white-space: normal;
  word-break: break-all;
  height: 100%;
  min-height: 30px;
}

.deprecatedMethod {
  background-color: #f8f8e3;
}

:global(.dark) .deprecatedMethod {
  background-color: #292919;
}
