.commandsContainer :global(.ant-select) {
  width: 100%;
}

.commandsContainer :global(.ant-btn) {
  width: 100%;
}

.btnContainer {
  padding: 8px;
}

.argContainer {
  padding: 4px 4px 0 0;
}

.command-result-table :global(.ant-table-tbody) {
  vertical-align: top;
}

.clickable-cell {
  margin: 0;
  white-space: pre-wrap;
  cursor: pointer;
  max-width: 500px;
}
