.errorIcon {
  color: red;
  margin: 5px;
}

.gestureHeaderTitle {
  font-size: 20px;
  font-weight: 500;
  box-shadow: none !important;
  border-width: 0px !important;
}

.gestureHeaderDescription {
  padding-left: 32px;
}

.gestureHeaderDescriptionInput {
  font-size: 15px;
  font-weight: 400;
  color: #636363;
  box-shadow: none !important;
  border-width: 0px !important;
}

.gestureHeaderDivider {
  margin-top: 10px;
}

.timelineTickTitle {
  text-align: center;
}

.gestureTimelineIcon {
  font-size: 20px;
}

.gestureHeaderTimeline {
  width: 90%;
  margin-top: -15px;
  min-height: 36px;
}

.gestureHeaderTimeline
  :global(
    .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after
  ) {
  background-color: #fffefe;
}

.gestureHeaderTimeline
  :global(
    .ant-steps-item-finish
      .ant-steps-item-container
      .ant-steps-item-content
      .ant-steps-item-title::after
  ) {
  background-color: var(--timelineColor);
}

.tickInputBox {
  display: block;
  text-align: center;
}

.tickPointerInput {
  width: 100%;
}

.optionInput {
  text-align: center;
}

.tickCard :global(.ant-card-head) {
  min-height: unset;
  padding: 0px;
  border-bottom: none;
}

.tickCard :global(.ant-card-body) {
  padding-top: 6px;
  height: calc(100% - 25px);
}

.tickPlusBtnWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointerTitle {
  max-width: 65px;
  padding: 0 0 0 0;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 20%;
}
