.advancedSettingsContainerCol {
  width: 100%;
}

.serverRow {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.serverHostGroup {
  flex: 1 1 240px;
}

.serverPortPathGroup {
  display: flex;
  flex: 1 1 400px;
  gap: 8px;
}

.serverPortInput {
  width: 6em;
}

.serverPathInput {
  min-width: 50px;
}

.perfectoHostPortGroup {
  display: flex;
  flex: 1 1 400px;
  gap: 8px;
}

.perfectoPathSSLGroup {
  display: flex;
  flex: 1 1 300px;
  gap: 8px;
}

.pcloudyItemGroup {
  flex: 1 1 260px;
}

.robotActionsItemGroup {
  flex: 1 1 400px;
}

.advancedSettingsContainer :global(.ant-form-item) {
  margin: 0;
}

.tabText img {
  height: 20px;
  filter: grayscale(100%);
}

:global(.ant-tabs-tab-active) .tabText img {
  filter: none;
}

.cloudProviderModal :global(.ant-row) {
  margin-bottom: 16px;
}

.cloudProviderModal :global(.ant-modal-body button) {
  width: 100%;
  padding: 4px;
}

.cloudProviderModal :global(.ant-modal-body button img) {
  height: 100%;
  width: 100%;
}

.addonDataCenterRadioContainer {
  padding-left: 8px;
  min-height: 32px;
}

.addonCheckbox {
  align-items: center;
  min-height: 32px;
}
