.serverDetailRow {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.serverPortInputField {
  width: 6em;
}

.serverInputGroup300px,
.serverInputGroup400px,
.serverInputGroup500px {
  display: flex;
  gap: 8px;
}

.serverInputGroup500px,
.serverInputField500px {
  flex: 1 1 500px;
}

.serverInputGroup400px,
.serverInputField400px {
  flex: 1 1 400px;
}

.serverInputGroup300px,
.serverInputField300px {
  flex: 1 1 300px;
}

.serverInputField250px {
  flex: 1 1 250px;
}

.sauceDataCenterGroup {
  min-width: 490px;
}

.sauceDataCenterRadioGroup {
  padding-left: 8px;
  min-height: 32px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.addonCheckbox {
  align-items: center;
  min-height: 32px;
}

.advancedSettingsContainerCol {
  width: 100%;
}

.advancedSettingsContainer :global(.ant-form-item) {
  margin: 0;
}

.tabText img {
  height: 20px;
  filter: grayscale(100%);
}

:global(.ant-tabs-tab-active) .tabText img {
  filter: none;
}

.cloudProviderModal :global(.ant-row) {
  margin-bottom: 16px;
}

.cloudProviderModal :global(.ant-modal-body button) {
  width: 100%;
  padding: 4px;
}

.cloudProviderModal :global(.ant-modal-body button img) {
  height: 100%;
  width: 100%;
}
