# Updates Crowdin with any changes in the English translation file (/app/common/assets/locales/en/translation.json)

name: Update Crowdin English Resources

on:
  push:
    branches: [main]
    paths:
      - 'app/common/assets/locales/en/translation.json'
      - '.github/workflows/crowdin-update-resources.yml' # this file

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Crowdin Update
        run: npm run crowdin-update
        env:
          # appium-desktop
          CROWDIN_PROJECT_ID: 346705
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
