# Code validation job, executed on new commit on main branch
# Builds the app, and runs lint, unit and integration tests

name: Commit Validation

on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'app/common/assets/locales/**'
      - 'docs/**'
      - 'sample-session-files/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Test
        run: npm test
