name: Create packages

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  electron:
    strategy:
      matrix:
        image: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.image }}

    env:
      CSC_IDENTITY_AUTO_DISCOVERY: true
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js LTS
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install dependencies (Node.js)
        run: npm ci
      - name: Build electron app
        run: npm run build:electron
      - name: build package
        run: npx electron-builder build --x64 --arm64 --publish always
      - name: Upload built packages
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.image }}
          path: release/

  plugin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js LTS
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Authenticate with npm registry
        run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install dependencies (Node.js)
        run: npm ci
      - name: generate contents
        run: npm run build:plugin
      - name: publish
        run: npm publish
        working-directory: plugins
