# Code validation job, executed on pull request
# Builds the app, and runs lint, unit and integration tests

name: PR Validation

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'assets/locales/**'
      - 'docs/**'
      - 'sample-session-files/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'

jobs:
  build:
    name: Build & Test
    strategy:
      matrix:
        image: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.image }}

    steps:
    - uses: actions/checkout@v3
    - name: Prepare Xvfb if needed
      if: ${{ matrix.image == 'ubuntu-latest' }}
      run: Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - name: Install Dependencies
      run: npm ci
    - name: Build
      run: npm run build --if-present
    - name: Test
      run: npm run test:unit && npm run test:integration

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - name: Install Dependencies
      run: npm ci
    - name: Lint
      run: npm run test:lint
