# Code validation job, executed on pull request
# Builds the app, and runs unit and integration tests

name: PR Validation

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'app/common/public/locales/**'
      - 'docs/**'
      - 'sample-session-files/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'

jobs:
  build:
    name: Build & Test
    strategy:
      matrix:
        image: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.image }}

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js LTS
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Test
        run: npm run test:unit && npm run test:integration
